  img {    
    overflow: hidden; 
    margin-bottom: 40px;
  }


  .jumbotron{
    background-color: #a58b00;
    color: #000000;
  }


  #style{
    background-color: #9a9999;
    text-align: center;
  }