  img {    
    overflow: hidden; 
    margin-bottom: 40px;
   width: 31%;
   height: 1%;
   max-height: 300px;
   border: 7px solid #7777777a;

  }


  .jumbotron{
    background-color: #a58b00;
    color: #000000;
  }


  #style{
    background-color: #9a9999;
    text-align: center;
  }